* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

#board {
    width: 90vmin;
    height: 90vmin;
    border: 10px solid #343473;
    font-size: 15vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}